.aboutContainer{
    padding:3rem;
    display:flex;
    justify-content: space-around;
    animation:aboutPage 0.4s;
    color: white;
    min-height: var(--min-height);
}
@keyframes aboutPage {
    0%{
        opacity:0;
        transform:translate(-100%);
    }
}
.portraitContainer{
    /* width:22vw;
    height:23vw;
    padding:1rem;
    border-radius: 0.1rem;
    background-color: #e8e8e8;
    margin:0 3rem; */
    margin-right: 2rem;
}
.portrait img{
    border: 0.1vw solid #353535;
    width:15vw;
    border-radius: 50%;
    max-width: 25rem;
}

#name{

    font-size: 2.5rem;
    margin-top: -16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.statement{
    font-size: 1.75rem;
    margin-bottom:1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
@media screen and (max-width:800px) {
    .aboutContainer{
        display:block;

    }
    .portraitContainer{
        margin:0 auto 2rem;
    }
    #name{
        font-size: 3rem;
    }
    .statement{
        font-size: 1rem;
    }
}
@media screen and (max-width:400px) {
    .aboutContainer{
        padding:0;
        animation:aboutPage 0.2s;

    }
    .aboutContainer>section{
        padding: 0 0.8rem;
        margin-bottom:5rem;
    }
    .portraitContainer,.portrait{
        width:100vw;
        padding:0;
        margin:2rem 0 3rem;
        height:auto;
    }
    .portrait{
        display:flex;
        justify-content: center;
        padding:1rem 0;
    }
    .portrait>img{
        width:90vw;
    }
}