/* Contact Form */
.contactContainer{
    width:100vw;
    max-width: 550px;
    margin:2rem auto 5rem;
    padding:1rem 2rem;
    box-shadow: 0 0 0.5rem #a1a1a1;
    background-color: #eeeded;
    border-radius: 0.2rem;
    animation:contacts 0.5s
}
@keyframes contacts {
    0%{
        transform:translate(-100%);
        opacity:0;
    }
}
/* Inputs */
.contactInput,.contactMessage{
    width:100%;
    border:none;
    border-radius: 0.1rem;
    padding:0.5rem;
    background-color: #f6f9fe;
    margin-top:0.2rem;
    margin-bottom:0.8rem;
    box-shadow: 0 0 0.4rem #708ec2 inset;

}

/* Text area */
.contactMessage{
    height:10rem;
}

.contactInput:focus,.contactMessage:focus{
    outline:2px solid #5b687e;
    background-color: rgb(255, 255, 255);
    box-shadow:  0 0 0.4rem #5b687e inset;
}

/* Submit button */
.contactBtnContainer{
    display:flex;
    justify-content: center;
}
.contactBtn{
    padding:0.5rem 2rem;
    margin:1rem auto;
    border-radius:0.2rem;
    /* border-top:3px solid #fec697;
    border-left:3px solid #fec697;
    border-bottom:3px solid #895226;
    border-right:3px solid #895226;
    background-color: #3f3f3f; */
    background-color: #425472;
    border:1px solid #f48023;
    color:#eeeded;
    font-size:1.1rem;
    box-shadow:0.2rem 0.2rem 0.2rem gray;
    transition: transform 0.2s ease-in-out;
}
.contactBtn:hover{
    transform:scale(1.02);
    color:white;
    background-color: #5b687e;
    cursor: pointer;
}
@media screen and (max-width:500px) {
    .nameContainer{
        display:block;
    }
    .nameContainer input{
        width:100%;
        margin-top:0.5rem;
    }
    .contactContainer{
        padding:1rem;
        animation:contacts 0.2s;
    }
    
}