*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
:root {
  --background:#dbdbdb;
  --max-width: 1920px;
  --min-height: calc(100vh - 128px)
}
html{
  min-height:100vh;
  position: relative;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #000; */
  background-color: #bbb;
  max-width: var(--max-width);
  margin: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}