*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
:root {
  --background:#dbdbdb;
  --dark: #3d5a80;
  --dark-alt: #3a3c3e;
  --highlight: #ee6c4d95;
  --highlight-fade: #ee6c4d40;
  --font: #e0fbfc;
  /* --background:#dbdbdb;
  --dark: #0f141b;
  --dark-alt: #192029;
  --highlight: #f48023;
  --highlight-fade: #f4802350; */
  --max-width: 1920px;
  --min-height: calc(100vh - 128px)
}
html{
  min-height:100vh;
  position: relative;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #000; */
  background: linear-gradient(to bottom, #3d5a8050, #3d5a8090);
  /* background: linear-gradient(to bottom, #e4e4e4, #b3b3b3); */
  max-width: var(--max-width);
  margin: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

.mainOpen {
  margin-top: 4.05rem;
}